# **Import libraries**

In [93]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import json

In [94]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split 
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import VarianceThreshold
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.preprocessing import StandardScaler
from nltk.stem.snowball import SnowballStemmer
from string import punctuation
from textblob import TextBlob
import re

# Read dataset to Pandas Dataframe

In [95]:
fields = ['Positive_Review', 'Negative_Review']
df = pd.read_csv(
    '../input/515k-hotel-reviews-data-in-europe/Hotel_Reviews.csv',
    usecols= fields, nrows=5000)
df.head()

,Negative_Review,Positive_Review
0,I am so angry that i made this post available...,Only the park outside of the hotel was beauti...
1,No Negative,No real complaints the hotel was great great ...
2,Rooms are nice but for elderly a bit difficul...,Location was good and staff were ok It is cut...
3,My room was dirty and I was afraid to walk ba...,Great location in nice surroundings the bar a...
4,You When I booked with your company on line y...,Amazing location and building Romantic setting

# Stemming

In [96]:
stemmer = SnowballStemmer('english')
df['Positive_Review'] = df['Positive_Review'].apply(
    lambda x:' '.join([stemmer.stem(y) for y in x.split()]))
df['Negative_Review'] = df['Negative_Review'].apply(
    lambda x: ' '.join([stemmer.stem(y) for y in x.split()]))

# Removing Stopwords

In [97]:
url = "https://countwordsfree.com/stopwords/english/json"
response = pd.DataFrame(data = json.loads(requests.get(url).text))
SW = list(response['words'])
df['Positive_Review'] = df['Positive_Review'].apply(
    lambda x: ' '.join([word for word in x.split() if word not in (SW)]))
df['Negative_Review'] = df['Negative_Review'].apply(
    lambda x: ' '.join([word for word in x.split() if word not in (SW)]))

#  Initialize new Dataframe and Removing numbers

In [98]:
df_Positive = df['Positive_Review'].copy()
df_Positive = df_Positive.str.replace('\d+', '')
df_Negative = df['Negative_Review'].copy()
df_Negative = df_Negative.str.replace('\d+', '')

# Apply TF-IDF method

In [99]:
tfidf = TfidfVectorizer(min_df=2,max_df=0.5, ngram_range=(1,3))
features = tfidf.fit_transform(df_Positive)
df_Positive = pd.DataFrame(
    features.todense(),
    columns=tfidf.get_feature_names()
)
df_Positive['Target'] = '1'
df_Positive.head()

,abil,abl,abl book,abl check,abl leav,abl open,abl open window,abov,abov stay,absolut,...,wrap,wrong,xx,yard,year,young,young coupl,young ladi,zone,Target
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.147383,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [100]:
tfidf = TfidfVectorizer(min_df=2,max_df=.05, ngram_range=(1,3))
features = tfidf.fit_transform(df_Negative)
df_Negative = pd.DataFrame(
    features.todense(),
    columns=tfidf.get_feature_names()
)
df_Negative['Target'] = '0'
df_Negative.head()

,abit,abit tire,abl,abl open,abl open window,abl room,abov,abov air,abov air condit,abov bed,...,year room,year veri,yesterday,young,young child,young child sleep,youth,yr,zone,Target
0,0.0,0.0,0.059471,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [101]:
df = df_Positive.append(df_Negative)
df.shape

(10000, 12676)

In [102]:
%%time
df = df.fillna(0)

CPU times: user 801 ms, sys: 1.12 s, total: 1.92 s
Wall time: 1.92 s

In [103]:
df.tail()

,abil,abl,abl book,abl check,abl leav,abl open,abl open window,abov,abov stay,absolut,...,wrong night,xmas,year eve,year room,year veri,yesterday,young child,young child sleep,youth,yr
4995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Define x and y set

In [104]:
x = df.drop('Target',axis=1)
y = df['Target']

x.shape, y.shape

((10000, 12675), (10000,))

In [105]:
x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size = 0.2, random_state = 0, stratify = y)

# Remove constant features

In [113]:
constant_filter = VarianceThreshold(threshold = 0.0002)
constant_filter.fit(x_train)
feature_list = x_train[x_train.columns[
    constant_filter.get_support(indices=True)]]

print('Number of selected features: ' ,len(list(feature_list)),'\n')
print('List of selected features: \n' ,list(feature_list))

Number of selected features:  716

List of selected features:
 ['abl', 'abov', 'absolut', 'absolut noth', 'accept', 'access', 'accommod', 'actual', 'ad', 'adequ', 'air', 'air condit', 'aircon', 'alway', 'am', 'amaz', 'ambianc', 'ambienc', 'amen', 'ani', 'anoth', 'anyth', 'apex', 'appoint', 'appreci', 'architectur', 'area', 'arriv', 'atmospher', 'attent', 'attract', 'avail', 'averag', 'aw', 'awesom', 'bad', 'bad experi', 'bag', 'balconi', 'bar', 'bar area', 'bar staff', 'basement', 'basic', 'bath', 'bathroom', 'bathroom small', 'bathroom tini', 'bathroom veri', 'beauti', 'beauti build', 'beauti hotel', 'becaus', 'bed', 'bed comfi', 'bed comfort', 'bed nice', 'bed pillow', 'bed realli', 'bed room', 'bed soft', 'bed veri', 'bed veri comfi', 'bed veri comfort', 'bedroom', 'bedroom veri', 'befor', 'big', 'bigger', 'birthday', 'bit small', 'book', 'bottl', 'breakfast', 'breakfast buffet', 'breakfast excel', 'breakfast expens', 'breakfast good', 'breakfast great', 'breakfast includ', 'breakfast love', 'breakfast room', 'breakfast servic', 'breakfast staff', 'breakfast veri', 'brilliant', 'brilliant locat', 'broken', 'buffet', 'build', 'busi', 'car', 'card', 'care', 'carpet', 'center', 'centr', 'central', 'central locat', 'central london', 'chang', 'charact', 'charg', 'cheap', 'check', 'choic', 'citi', 'class', 'clean', 'clean comfort', 'clean good', 'clean room', 'clean staff', 'cleaner', 'cleanli', 'close', 'close everyth', 'close paddington', 'cloth', 'club', 'club loung', 'club room', 'coffe', 'cold', 'comfi', 'comfi bed', 'comfort', 'comfort bed', 'comfort room', 'comment', 'communic', 'compact', 'compar', 'complain', 'complaint', 'complet', 'complimentari', 'concierg', 'condit', 'connect', 'consid', 'construct', 'conveni', 'conveni locat', 'cook', 'cool', 'corner', 'corridor', 'cosi', 'cost', 'couldn', 'court', 'courtyard', 'cramp', 'curtain', 'custom', 'custom servic', 'dark', 'day', 'decent', 'decor', 'definit', 'delici', 'delux', 'design', 'desk', 'desk staff', 'despit', 'didn', 'didn work', 'didnt', 'differ', 'difficult', 'dinner', 'direct', 'dirti', 'disappoint', 'distanc', 'don', 'door', 'doubl', 'doubl room', 'drink', 'duck', 'dure', 'earli', 'easi', 'eat', 'effici', 'egg', 'elev', 'english', 'enjoy', 'enjoy stay', 'entranc', 'equip', 'especi', 'everi', 'everyth', 'everyth hotel', 'excel', 'excel breakfast', 'excel locat', 'excel room', 'excel staff', 'execut', 'expect', 'expens', 'experi', 'extra', 'extrem', 'extrem friend', 'fab', 'fabul', 'face', 'facil', 'fact', 'fair', 'fan', 'fantast', 'fault', 'feel', 'felt', 'fine', 'finish', 'fit', 'floor', 'food', 'food excel', 'free', 'free wifi', 'fresh', 'fridg', 'friend', 'friend effici', 'friend staff', 'friend staff good', 'friend veri', 'friend welcom', 'friendli', 'friendli staff', 'fruit', 'function', 'furnish', 'furnitur', 'garden', 'general', 'glass', 'good', 'good breakfast', 'good hotel', 'good locat', 'good locat staff', 'good room', 'good servic', 'good size', 'good staff', 'good valu', 'good valu money', 'grand', 'great', 'great bed', 'great breakfast', 'great hotel', 'great locat', 'great locat friend', 'great room', 'great servic', 'great staff', 'great valu', 'ground', 'guest', 'gym', 'hair', 'hairdryer', 'hall', 'handi', 'hang', 'happi', 'hard', 'hear', 'heat', 'heathrow', 'high', 'histor', 'histori', 'honest', 'hospit', 'hot', 'hot water', 'hotel', 'hotel clean', 'hotel great', 'hotel locat', 'hotel love', 'hotel room', 'hotel staff', 'hotel veri', 'hour', 'howev', 'huge', 'hyde', 'hyde park', 'ideal', 'impress', 'improv', 'includ', 'includ price', 'incred', 'inform', 'insid', 'interior', 'internet', 'iron', 'issu', 'job', 'junior', 'junior suit', 'key', 'kind', 'lack', 'larg', 'larger', 'late', 'layout', 'leav', 'left', 'level', 'lift', 'light', 'limit', 'linen', 'littl', 'littl small', 'lobbi', 'locat', 'locat beauti', 'locat breakfast', 'locat clean', 'locat cleanli', 'locat close', 'locat comfort', 'locat excel', 'locat friend', 'locat friend staff', 'locat good', 'locat great', 'locat hotel', 'locat love', 'locat nice', 'locat perfect', 'locat quiet', 'locat room', 'locat staff', 'locat staff veri', 'locat veri', 'locat veri friend', 'london', 'long', 'longer', 'lot', 'loud', 'loung', 'love', 'love hotel', 'love locat', 'love room', 'love staff', 'luggag', 'luxuri', 'main', 'maintain', 'major', 'manag', 'mani', 'mattress', 'mayb', 'meal', 'member', 'menu', 'milk', 'min', 'min walk', 'mini', 'minut', 'minut walk', 'mirror', 'modern', 'money', 'morn', 'museum', 'nearbi', 'neat', 'nice', 'nice breakfast', 'nice hotel', 'nice locat', 'nice room', 'nice staff', 'night', 'night stay', 'nois', 'noisi', 'noth', 'offer', 'offic', 'onli', 'open', 'option', 'order', 'origin', 'outsid', 'overal', 'paddington', 'paddington station', 'paid', 'pari', 'park', 'partner', 'pass', 'pay', 'peopl', 'perfect', 'perfect locat', 'person', 'phone', 'pictur', 'pillow', 'place', 'pleas', 'pleasant', 'plenti', 'plug', 'pm', 'point', 'polit', 'polit staff', 'poor', 'posit', 'pretti', 'price', 'pricey', 'problem', 'profession', 'proper', 'properti', 'provid', 'pub', 'qualiti', 'quick', 'quiet', 'quiet locat', 'quiet room', 'quit', 'quit small', 'rate', 'reach', 'readi', 'real', 'realli', 'reason', 'recept', 'recept staff', 'receptionist', 'recommend', 'refresh', 'refurbish', 'relat', 'relax', 'renov', 'request', 'restaur', 'return', 'road', 'robe', 'room', 'room basement', 'room bathroom', 'room bed', 'room bigger', 'room bit', 'room bit small', 'room breakfast', 'room build', 'room clean', 'room comfort', 'room decor', 'room design', 'room excel', 'room floor', 'room friend', 'room friend staff', 'room good', 'room great', 'room hotel', 'room littl', 'room locat', 'room love', 'room nice', 'room quiet', 'room quit', 'room quit small', 'room realli', 'room room', 'room servic', 'room size', 'room small', 'room spacious', 'room staff', 'room tini', 'room veri', 'room veri comfort', 'room veri small', 'russel', 'russel squar', 'safe', 'screen', 'seat', 'select', 'servic', 'servic room', 'set', 'sheet', 'shop', 'short', 'shower', 'singl', 'sink', 'sit', 'site', 'size', 'size bed', 'size room', 'sleep', 'slept', 'slight', 'small', 'small bathroom', 'small room', 'small veri', 'smaller', 'smell', 'smile', 'snack', 'socket', 'soft', 'sound', 'space', 'space room', 'spacious', 'spacious room', 'special', 'spot', 'spotless', 'squar', 'staff', 'staff attent', 'staff breakfast', 'staff comfort', 'staff excel', 'staff extrem', 'staff friend', 'staff good', 'staff good locat', 'staff great', 'staff locat', 'staff love', 'staff nice', 'staff polit', 'staff realli', 'staff room', 'staff veri', 'staff veri friend', 'staff veri nice', 'staff veri polit', 'stair', 'staircas', 'standard', 'standard hotel', 'star', 'start', 'station', 'stay', 'steep', 'step', 'storag', 'street', 'stuff', 'style', 'style hotel', 'stylish', 'suit', 'super', 'superb', 'surpris', 'tabl', 'taxi', 'tea', 'terribl', 'th', 'th floor', 'theatr', 'thought', 'tidi', 'time', 'time stay', 'tini', 'tini room', 'tire', 'toilet', 'toiletri', 'told', 'touch', 'towel', 'traffic', 'train', 'train station', 'tram', 'transport', 'travel', 'tri', 'trip', 'tube', 'tube station', 'turn', 'tv', 'twin', 'twin room', 'underground', 'upgrad', 'upgrad room', 'valu', 'valu money', 'varieti', 've', 'veri', 'veri bad', 'veri clean', 'veri clean room', 'veri close', 'veri comfi', 'veri comfort', 'veri comfort bed', 'veri comfort room', 'veri conveni', 'veri expens', 'veri friend', 'veri friend staff', 'veri good', 'veri nice', 'veri pleasant', 'veri polit', 'veri poor', 'veri quiet', 'veri small', 'veri small room', 'veri staff', 'veri veri', 'veri warm', 'view', 'view room', 'visit', 'wait', 'walk', 'walk distanc', 'walk paddington', 'wall', 'wardrob', 'wardrob space', 'warm', 'wasn', 'water', 'weather', 'weekend', 'welcom', 'weren', 'west', 'wet', 'wet room', 'whi', 'wifi', 'window', 'wine', 'work', 'worn', 'worth', 'wouldn', 'wrong', 'year', 'bathroom bit', 'bathroom littl', 'bit noisi', 'cupboard', 'disabl', 'dislik', 'everyth fine', 'expens breakfast', 'lumpi', 'nil', 'noth complain', 'noth didn', 'noth dislik', 'noth everyth', 'noth perfect', 'noth realli', 'overpr', 'room hot', 'room smaller', 'shower small', 'slow', 'small bed', 'uncomfort', 'ventil', 'veri small bathroom', 'wasn anyth', 'weak']

In [114]:
x_train_filter = constant_filter.transform(x_train)
x_test_filter = constant_filter.transform(x_test)

In [115]:
x_train_filter.shape, x_test_filter.shape, x_train.shape

((8000, 716), (2000, 716), (8000, 12675))

In [116]:
x_train_filter = pd.DataFrame(x_train_filter)
x_test_filter = pd.DataFrame(x_test_filter)

#  Remove Correlated features

In [117]:
def get_correlation(data, threshold):
    corr_col = set()
    cormat = data.corr()
    for i in range(len(cormat.columns)):
        for j in range(i):
            if abs(cormat.iloc[i,j]) > threshold:
                colname = cormat.columns[i]
                corr_col.add(colname)
    return corr_col

In [118]:
corr_features = get_correlation(x_train_filter, 0.70)

In [119]:
x_train_uncorr = x_train_filter.drop(labels= corr_features, axis = 1)
x_test_uncorr = x_test_filter.drop(labels= corr_features, axis = 1)
x_train_uncorr = pd.DataFrame(x_train_uncorr)
x_test_uncorr = pd.DataFrame(x_test_uncorr)
x_train_uncorr.shape, x_test_uncorr.shape, x_train_filter.shape

((8000, 693), (2000, 693), (8000, 716))

# Applying Linear Discriminant Analysis

In [124]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

lda = LDA(n_components=1)
x_train_lda = lda.fit_transform(x_train_uncorr, y_train)
x_test_lda = lda.fit_transform(x_test_uncorr, y_test)

# Build a Random Forest Classifier (RFC)

In [125]:
def runRandomForest(x_train, x_test, y_train, y_test):
    clf = RandomForestClassifier(n_estimators=100, random_state=0, n_jobs=-1)
    clf.fit(x_train, y_train)
    y_pred = clf.predict(x_test)
    print ('accracy is: ', accuracy_score(y_test, y_pred))

Run Random Forest Classifier using LDA model:

In [122]:
%%time
runRandomForest(x_train_lda, x_test_lda, y_train, y_test)

accracy is:  0.9795
CPU times: user 1.34 s, sys: 104 ms, total: 1.45 s
Wall time: 713 ms

Run calssifier without using LDA model:

In [123]:
%%time
runRandomForest(x_train, x_test, y_train, y_test)

accracy is:  0.9605
CPU times: user 48.3 s, sys: 106 ms, total: 48.4 s
Wall time: 12.9 s